html, body {
		width: 99%;
    		height: auto;
      	margin: 0;
    		padding : 0;
		}
	left.a:link {
  		color: white;
  		background-color: transparent;
  		text-decoration: none;
		}
	 ul li {
		font-size: 20px;
		border-style: inset;
		margin-bottom: 12px;
		margin-left: -20px;
		margin-right: 10px;
		padding-left: 10px;
		}
	li:hover{
		background-color: black;
		}	

	.row {
		display: flex;
		}
	.left {
		width: 20%;
		float: left;
       	background-color: #990000;
		
		}
	.right {
		width: 80%;
		float: left;
		margin-left:20px;
       	}
	.people {
		padding: 70px;
		text-align: center;
		}
	.one {
    		float: left;
    		text-align: left;
		}
	.two {
    		float: right;
    		text-align: right;
		}

	img {
    		width: 100%;
    		height: auto;
			}

    .iconnav, .two_nav{
		  display: none;
		}

	.overlay {
		  height: 0%;
		  width: 100%;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgb(0,0,0);
		  background-color: rgba(0,0,0, 0.9);
		  overflow-y: hidden;
		  transition: 0.5s;
		}

		.overlay-content {
		  position: relative;
		  top: 25%;
		  width: 100%;
		  text-align: center;
		  margin-top: 30px;
		}

		.overlay a {
		  padding: 8px;
		  text-decoration: none;
		  font-size: 36px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}

		.overlay a:hover, .overlay a:focus {
		  color: #f1f1f1;
		}

		.overlay .closebtn {
		  position: absolute;
		  top: 20px;
		  right: 45px;
		  font-size: 60px;
		}

		@media screen and (max-width: 900px) {
		   
		   .nav li {
		    display: none;
		  }
		  .iconnav, .two_nav{
		    padding-right: 3%;
		    float: right;
		    display: block;
		   }	
		  
		  .overlay {overflow-y: auto;}
		  .overlay a {font-size: 20px}
		  .overlay .closebtn {
		  font-size: 40px;
		  top: 15px;
		  right: 35px;
		  			}
		  .left, .two{
			display:none;
			}
		  .right{
			width: 100%;
			}
		  
		}

	
